/* .fontcolour{
  color: black;
}

#topbar {
    background: #3fbbc0;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    z-index: 996;
    transition: all 0.5s;
}

.descprition{

}

.mt-6 {
   margin-top: 8rem;
  }

.topicon{
    padding-right: 5px;
} */

.container{
  
}


